@media (max-width: 769px), (max-width: 900px) {

    .top-nav {
            width: 100%;
            background: rgb(21, 21, 100);        /* bleu nuit profond, élégant */
            color: #ffffff;
            padding: 2px 10px;         /* espacement interne */
            display: flex;
            flex-wrap: wrap;            /* responsive : passe sur 2 lignes si besoin */
            align-items: center;
            justify-content: space-between;

            
    }
    .contact-info span, .social-icons a {
        margin-right: 7px;        /* espacement entre les infos */
        font-size: 12px;  
    }

    nav{
        padding: 8px 20px ;
        height: 50px;
        justify-content: space-between;
    }
    nav img{
        width: 70px;
        height: 40px;
    }
    #menu-btn{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 10px 0 10px 20px;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        width: 220px;
        right: -220px;
        display: flex;
        background-color: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 1s ease;
        z-index: 999;
    }
    nav .navigation.active ul {
    right: 0;
    }
    nav .navigation ul li {
        margin-left:0;
        padding: 20px 0 20px 40px;
    }
    nav .navigation ul li a {
        color: white;
    }
    nav{
        background-color: white;
    }

    .about-section{
        flex-direction: column;
    }
    .about-content{
        width: 100%;
    }
    .about-image{
        width: 100%;
        margin-bottom: 15px;
    }

    /* Footer responsiveness */
    .footer-col img{
        width: 120px;
    }
}
